<div class="container-fluid">
    <ul class="list-group">
        <li class="list-group-item d-flex justify-content-between align-items-center active">
            INSTRUCTIONS
        </li>
        <li class="list-group-item d-flex justify-content-between align-items-center">
            Click on "Upload Image" navigation to go to upload image tab
            <span class="badge badge-secondary badge-pill">1</span>
        </li>
        <li class="list-group-item d-flex justify-content-between align-items-center">
            Click on "List Images" navigation to go to images listing tab
            <span class="badge badge-secondary badge-pill">2</span>
        </li>
        <li class="list-group-item d-flex justify-content-between align-items-center">
            This is a purely frontend application so please add urls in images-listing/get-images-service and
             upload-image/upload-image-service to connect to backend
            <span class="badge badge-secondary badge-pill">3</span>
        </li>
        <li class="list-group-item d-flex justify-content-between align-items-center">
            Listing page is implemented using a stubbed json asset file assets/image.json
            <span class="badge badge-secondary badge-pill">4</span>
        </li>
    </ul>
</div>